<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.row ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0 2rem;

}

.row .col-md-4 {
    width: auto;
}

.row ul li {
    width: fit-content;
}
=======

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background-color: #8d230f;
}


/* Navigation bar */
.navigation-wrapper {
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(117, 116, 116, 0.5);
}

#logo {
    margin-left: 50px;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: #C99E10;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-bottom: 10px;
}

  .primary-navigation ul {
    display: flex;
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
    gap: 50px;
    justify-content: space-around;
    font-size: 300;
    font-family: "Playfair Display";

}

.primary-navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}


.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    color: white;
}

/* Decorative lines */
.container-1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 10px;
    min-height: auto;
}

.icon-container {
    margin-right: 5px;
    margin-left: 5px;
}

.line {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

}

.line span {
    width:100%;
    display: block;
    
}

.white {
    background: white;
    height: 2px;
}


.line .yellow {
    background: yellow;
    height: 2px;
    width: 90%;
    margin-left: auto;
}

.blue {
    background: #1000BA;
    height: 2px;
}


.line .red {
    background: #FF0000;
    height: 2px;
    width: 90%;

}

/* Engageable text */

.engageable .text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: 150;
    color: whitesmoke;
}




>>>>>>> 663d1c2b85f47474ecd91d64ca270eb2ce873730
