
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', arial, Helvetica, sans-serif;
    outline: 1px solid green !important;
}


body {
    background-color: white;
    height: 100%;
    width: 100%;
}

/* Header */
header {
    z-index: 1000;
    width: 100%;
    height: fit-content;
}

/* Navigation bar */
nav {
    background-color: white;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0 3rem;
    gap: 1rem
}



nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'roboto flex';
    font-weight: 300;
    padding: 0.4rem;

}

nav li a:hover {
    -webkit-text-stroke: 0.3px black;
}


nav .menu-btn {
    display: none;
    margin-right: 10px;
}

#logo {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
}


nav li:first-child {
    margin-right: auto;
}

nav .navbar li:last-child {
    margin-left: 1rem;
}

nav button {
    color: white;
    background-color: #8D230F;
    padding: 0.7em 2em ;
    border-radius: 12px;
    cursor: pointer;
    border: transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto flex';
    font-weight: 300;
    transition: ease-in-out 0.2s;

}

nav button:hover {
    opacity: 0.7;
}

/* Sidebar */
nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
}

nav .sidebar li a {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 2rem;
}

nav .sidebar .hideOnMobile.last{
    margin: 0;
}

/* Main */
main {
    width: 100%;
}

/* Hero section */
.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 5rem;
    aspect-ratio: 21 / 9;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 4rem;
    
}

/* Hero_sec decorative lines */

.hero .lines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0 1rem;
    position: absolute;
    top: 4rem;
}

.hero .lines .wheel_pic {
    display: block;
}

#cartwheel {
    display: flex;
}

.hero .lines .batch {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.hero .lines .batch span {
    display: block;
    height: 5px;
}


.hero .lines .batch.one .line.one {
    background: black;
    width: 100%;
}

.hero .lines .batch.one .line.two {
    background: #FFEA60;
    width: 70%;
    align-self: flex-end;
}

.hero .lines .batch.two .line.one {
    background: #3700FF;
    width: 100%;
}

.hero .lines .batch.two .line.two {
    background: #FF0000;
    width: 70%;
    align-self: flex-start;
}

/* Hero_sec header */
.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;    
    position: absolute;
    top: 7rem;
    padding: 0 0 0 10rem;
}

.hero .content h1 {
    font-family: "Roboto Condensed", arial;
    font-size: 3rem;    
    font-weight: 500;
    font-style: italic;
    text-align: left;
    margin: 0 0 1rem 0;
    display: block; 
    width: fit-content;
}

.hero .content h1 .span {
    font-family: "Roboto Condensed", arial;
    font-weight: 400;
    font-style: italic;
    text-shadow:
    -0.7px -0.7px 0 #000,
     0   -0.7px 0 #000,
     0.7px -0.7px 0 #000,
     0.7px  0   0 #000,
     0.7px  0.7px 0 #000,
     0    0.7px 0 #000,
    -0.7px  0.7px 0 #000,
    -0.7px  0   0 #000;
}

.hero .content h1 .span.rent {
    color: #FFCC00;
}

.hero .content h1 .span.ramuros {
    color: #8D230F;
}

/* Hero_sec paragraph */
.hero .content p {
    font-family: 'roboto condensed';
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 2rem 0;
    width: fit-content;
}

/* Hero_sec list */
.hero .content .list_container {
    display: flex;
    gap: 2rem;
    list-style: none;
    gap: 4rem;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 2rem 0;
    width: fit-content;
}

.hero .content .list_container li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-family: 'roboto slab';
}

.hero .content .list_container li img {
    width: fit-content;
}



/* Hero_sec button */
.hero .content button {
    font-family: 'roboto condensed';
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: #8D230F;
    color: white;
    border: 2px solid transparent;
    transition: ease-in-out 0.3s;
    width: fit-content;
}

.hero .content button:hover {
    background-color: white;
    color: black;
    border-color: #8D230F;

}




/* Image sliders */
.image-sliders {
    width: fit-content;
    margin: 3rem 2rem 3rem 25rem;
}

.main-slider-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main-slider-container .slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.slider-container .slider  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 100%;
    position: relative;
    
}   

.main-slider-container .slider-container .heading {
    padding-bottom: 1rem;
}

.main-slider-container .slider-container h2 {
    font-family: 'playfair display';
}


.slider-container .slider ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 1rem;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.slider-container .slider ul li {
    flex-shrink: 0;
    width: calc((100% - 4rem) / 5);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    scroll-snap-align: start;

}


.slider-container .slider ul li img {
    transition: ease-in-out 0.4s;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    position: relative;
    display: block;

}

.slider-container .slider ul li:hover img {
    transform: scale(1.1);
}

.slider-container .slider ul p {
    position: absolute;
    color: white;
    top: 70%;
    left: 4%;
    font-weight: 800;
    font-size: 1.7em;
    font-family: 'playfair display';
    text-shadow: 3px 3px 0.5px rgba(0, 0, 0, 0.5);
    z-index: 500;
    text-decoration-thickness: 1px;
}



.slider-container .slide-btn.one {
    left: 0;
}

.slider-container .slide-btn.two {
    right: 0;

}

.slider-container .slider .slide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    top: 50%;
    translate: 0 0;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0.2px rgba(0, 0, 0, 0.5);
    margin: -1.25rem;
    max-height: 4em;
    max-width: 4em;

}

.slider-container .slider .slide-btn img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

/* Packages */
.package_wrapper {
    width: fit-content;
    margin-right: 2rem;
    margin-left: 25rem;

}

.package_wrapper .packages { 
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
    list-style: none;
}

.package_wrapper .packages .package {
    background-color: rgba(209, 209, 209, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.package_wrapper .packages .package .image img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.package_wrapper .packages .package ul {
    list-style: none;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

.package_wrapper .packages .package .number {
    font-weight: bold;
    font-size: 1.2rem;
}

.package_wrapper .packages .package .attractions span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
}

.package_wrapper .packages .package .price {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.1rem;

}


@media(max-width: 900px){
    .hideOnMobile{
        display: none;
    }
    nav .menu-btn {
        display: flex;
    }
}

@media(max-width: 500px){
    nav .sidebar{
        width: 100%;
    }
}