.btn-complete {
    background-color: #109620;
    color: #ffffff;
    border: none;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}