
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid red !important; */

}


body {
    background-color: white;
    height: 100vh;
    width: 100%;
    min-width: auto;
}


/* Navigation bar */
nav {
    background-color: white;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin-right: 10px;
}


nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.7rem 1rem; 
    color: black;
}

nav .menu-btn {
    display: none;
    margin-right: 10px;
}

nav li a:hover {
    background-color: #f5f4f2;
    border-radius: 5px;
}

#logo {
    padding: 0.5rem 1rem;
}

nav li:first-child {
    margin-right: auto;
}

nav button {
    color: white;
    padding: 0.75rem ;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    background-color: #972914;
    font-weight: 500;
}

nav button:hover {
    background-color: #C99E10;
    color: black;
}

/* Sidebar */
nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
}

nav .sidebar li a {
    display: block;
    width: 100%;
    padding: 1rem 2rem;
}


/* Decorative lines */
.container-1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 10px;
}

#logo2 {
    margin-right: 5px;
    margin-left: 5px;
}

.line {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

}

.line span {
    width:100%;
    display: block;    
}

.white {
    background: black;
    height: 2px;
}


.line .yellow {
    background: yellow;
    height: 2px;
    width: 90%;
    margin-left: auto;
}

.blue {
    background: #1000BA;
    height: 2px;
}


.line .red {
    background: #FF0000;
    height: 2px;
    width: 90%;

}

/* Engageable text */
.engageable .hop h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: 150;
    color: black;
    margin-bottom: 20px;
    text-align: center;

}

/* Picture */

.cover {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    max-inline-size: 100%;
}

#cphoto {
    display: block;
    justify-content: center;

}

/* About intramuros */
.intratext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;

}

.intratext div {
    display: flex;
    justify-content: center;

}


.intratext span {
    font-family: "Playfair Display", serif;
    color: black;
    display: flex;
    align-content: center;
    width: 80%;
    font-size: large;
    text-align: center;
    padding: 7px;
}

/* Popular destinations */
.popular {
    padding: 10px;
    margin-bottom: 50px;
}

.popular h2 {
    font-family: "Playfair Display", serif;
    color: black;
    margin-left: 20px;

}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    nav .menu-btn {
        display: flex;
    }
}

@media(max-width: 500px){
    nav .sidebar{
        width: 100%;
    }
}