
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
        \outline: 1px solid red !important;

}

body {
    background-color: #8d230f;
}


/* Navigation bar */
.navigation-wrapper {
    margin-top: 50px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);
    width: 100%
}

#logo {
    margin-left: 50px;
    max-inline-size: 100%;

}

header {
    display: flex;
    justify-content: space-between;
    background-color: #C99E10;
    align-items: center;
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 10px;

}

.primary-navigation ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 20px;
    gap: 50px;
    justify-content: flex-end;
    font-size: 1rem;
    font-family: "Playfair Display", serif;

}

.primary-navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0.5em;
    font-family: "Playfair Display";
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    background-color: rgb(227, 227, 227);
}

/* Decorative lines */
.container-1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 10px;
}

#logo2 {
    margin-right: 5px;
    margin-left: 5px;
}

.line {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

}

.line span {
    width:100%;
    display: block;    
}

.white {
    background: white;
    height: 2px;
}


.line .yellow {
    background: yellow;
    height: 2px;
    width: 90%;
    margin-left: auto;
}

.blue {
    background: #1000BA;
    height: 2px;
}


.line .red {
    background: #FF0000;
    height: 2px;
    width: 90%;

}

/* Engageable text */
.engageable .hop h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: 150;
    color: whitesmoke;
    margin-bottom: 20px;
    text-align: center;

}

/* Picture */

.cover {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    max-inline-size: 100%;
}

#cphoto {
    display: flex;
    justify-content: center;
}

/* About intramuros */
.intratext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;

}

.intratext div {
    display: flex;
    justify-content: center;

}


.intratext span {
    font-family: "Playfair Display", serif;
    color: white;
    display: flex;
    align-content: center;
    width: 80%;
    font-size: large;
    text-align: center;
    padding: 7px;
}

/* Popular destinations */
.popular {
    padding: 10px;
    margin-bottom: 50px;
}

.popular h2 {
    font-family: "Playfair Display", serif;
    color: white;
    margin-left: 20px;

}


