
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid red !important; */
}


body {
    background-color: white;
    height: 100%;
    width: 100%;
    }


/* Navigation bar */
nav {
    background-color: white;
    text-decoration: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0 10px;
    gap: 0.5rem;
}


nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.7rem 1rem; 
    color: black;
}

nav .menu-btn {
    display: none;
    margin-right: 10px;
}

nav li a:hover {
    background-color: #ececec;
    border-radius: 5px;
}

#logo {
    padding: 0.5rem 1rem;
}

nav li:first-child {
    margin-right: auto;
}

nav .navbar li:last-child {
    margin-left: 1rem;
}

nav button {
    color: black;
    padding: 0.75rem ;
    border-radius: 30px;
    cursor: pointer;
    background: white;
    font-weight: 500;
    border: transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right,#D9D9F3, #FFFCEF, #F2D7D7);
    height: 107%;
    width: 102%;
    border-radius: 30px;
    z-index: -1;

}

nav button:hover {
    background-image:#FFCC00;
    color: black;
    z-index: 1;
}

/* Sidebar */
nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
}

nav .sidebar li a {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 2rem;
}

nav .sidebar .hideOnMobile.last{
    margin: 0;
}


/* Decorative lines */
.container-1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 10px;
}

#logo2 {
    margin-right: 5px;
    margin-left: 5px;
}

.line {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

}

.line span {
    width:100%;
    display: block;    
}

.white {
    background: black;
    height: 2px;
}


.line .yellow {
    background: yellow;
    height: 2px;
    width: 90%;
    margin-left: auto;
}

.blue {
    background: #1000BA;
    height: 2px;
}


.line .red {
    background: #FF0000;
    height: 2px;
    width: 90%;

}

/* Engageable text */
.engageable .hop h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-weight: 150;
    color: black;
    margin-bottom: 20px;
    text-align: center;

}

/* Picture */

.cover {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    max-inline-size: 100%;
}

#cphoto {
    display: block;
    justify-content: center;

}

/* About intramuros */
.intratext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;

}

.intratext div {
    display: flex;
    justify-content: center;

}


.intratext span {
    font-family: "Playfair Display", serif;
    color: black;
    display: flex;
    align-content: center;
    width: 80%;
    font-size: large;
    text-align: center;
    padding: 7px;
}

/* Popular destinations */
.pop-container {
    padding: 1rem 3rem ;
    margin-bottom: 100px;
}

.pop-container .pop {
    font-family: "Playfair Display", serif;
    color: black;
    padding: 1rem 0;

}

.pop-container .slider1  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 100%;
    position: relative;
    
}

.pop-container .slider1 ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 1rem;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.pop-container .slider1 ul li {
    flex-shrink: 0;
    width: calc((100% - 4rem) / 5);
    overflow: hidden;
    border-radius: 10px;
    position: relative;

}

.pop-container .slider1 ul img {
    transition: ease-in-out 0.4s;
    width: 100%;
    object-fit: cover;

}

.pop-container .slider1 ul img:hover {
    transform: scale(1.1);

}

.pop-container .slider1 ul h1 {
    position: absolute;
    z-index: 10;
    color: white;
    top: 70%;
    left: 2%

}

.pop-container .slide-btn.one {
    left: 0;
}

.pop-container .slide-btn.two {
    right: 0;

}

.pop-container .slider1 .slide-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    top: 65%;
    translate: 0 -50%;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0.2rem;
    box-shadow: 0 1px 2px 0.2px rgba(0, 0, 0, 0.5);
    margin: -1.5rem;
}





















@media(max-width: 900px){
    .hideOnMobile{
        display: none;
    }
    nav .menu-btn {
        display: flex;
    }
}

@media(max-width: 500px){
    nav .sidebar{
        width: 100%;
    }
}